@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2>Bem vindo ao catálogo de jogos!</h2>
    <br>
    <br>

    <a href="/jogo/index" class="btn btn-info">Jogos</a>
    <br />
    <br />
    <a href="/categoria/index" class="btn btn-success">Categorias</a>
</div>